body, html
  height 100%
  font-size 100%
  font-family 'skti', 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.onlineIcon
  background url('../imgs/online.svg') no-repeat
  background-size 100% 100%
.colorIcon
  background url('../imgs/color.svg') no-repeat
  background-size 100% 100%
.faceIcon
  background url('../imgs/face.svg') no-repeat
  background-size 100% 100%
.imgIcon
  background url('../imgs/img.svg') no-repeat
  background-size 100% 100%
.moneyIcon
  background url('../imgs/moneyIcon.svg') no-repeat
  background-size 100% 100%